<div class="header bg-gradient-blue py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form role="form">     
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputName">Nom</label>
                <input type="text" class="form-control" id="inputName" placeholder="Nom">
              </div>
              <div class="form-group col-md-4">
                <label for="inputFirstName">Prénom</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Prénom">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPhotos">Photos</label>
                <input type="file" id="inputPhotos" name="inputPhotos" accept="image/png, image/jpeg">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputUserName">Pseudo</label>
                <input type="text" class="form-control" id="inputUserName" placeholder="User name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputDate" >Date</label>
                  <input class="form-control" type="date" value="2011-08-19" id="inputDate">
              </div>      
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputJob">Profession</label>
                <input type="text" class="form-control" id="inputJob" placeholder="Nom">
              </div>
              <div class="form-group col-md-4">
                <label for="inputSchool">Dernière école</label>
                <input type="text" class="form-control" id="inputSchool" placeholder="Prénom">
              </div>
              <div class="form-group col-md-4">
                <label for="inputDiplome">Dernier diplome</label>
                  <select id="inputDiplome" name="inputDiplome"class="form-control">
                    <option selected>Choose...</option>
                    <option value="Aucun">Aucun</option>
                    <option value="baccalauréat">baccalauréat</option>
                    <option value="Licence">Licence</option>
                    <option value="Master">Master</option>
                    <option value="Doctorat">Doctorat</option>
                  </select>               
              </div>
            </div>

            <div class="form-group">
              <label for="inputAddress">Adresse</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Adresse 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-3">
                <label for="inputCodePostal">Code Postal</label>
                <input type="text" class="form-control" id="inputCodePostal">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Pays</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option value="FRANCE">France</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
