<div class="header bg-gradient-gray-dark pb-5 pt-5 pt-md-8">
  <div class="container-fluid" >
    <div class="header-body">
      <h3 style="color:white"> {{company.name}}</h3>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0" style="background-color : #19214D;">
            <div class="card-body" >
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase  mb-0" style="color : white; ">Article</h5>
                  <span class="h2 font-weight-bold mb-0" style="color :#e9ecef; ">{{  totalRecords  }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span [ngClass]="( 0 > totalRecords ) ? 'text-success mr-2':'text-danger mr-2'">
                  <i [ngClass]="( 0 < totalRecords ) ? 'fa fa-arrow-up':'fas fa-arrow-down'">
                  </i>
                  {{augArticleMois}}%
                </span>
                <span class="text-nowrap">Cette semaine</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0" style="background-color : #19214D;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase  mb-0" style="color : white; ">Moyenne action</h5>
                  <span class="h2 font-weight-bold mb-0" style="color :#e9ecef;">{{actionMean}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                  <span [ngClass]="( actionVariance > 0 ) ? 'text-success mr-2':'text-danger mr-2'">
                  <i [ngClass]="( actionVariance > 0 ) ? 'fa fa-arrow-up':'fas fa-arrow-down'">
                  </i>
                     {{actionVariance}}%
                </span>
                <span class="text-nowrap"> Cette semaine</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" >
          <div class="card card-stats mb-4 mb-xl-0" style="background-color : #19214D;" >
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase  mb-0" style="color : white; ">Sentiment positif</h5>
                  <span class="h2 font-weight-bold mb-0" style="color :#e9ecef;">{{sentimentPositiveMean}}%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0" style="background-color : #19214D;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase mb-0" style="color : white;">Performance</h5>
                  <span class="h2 font-weight-bold mb-0" style="color :#e9ecef;" >49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--4">
  <!-- DEBUT Graphique 1 -->
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Bourse</h6>
              <h2 class="text-white mb-0">Cours de l'action</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  >
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                    <span class="d-none d-md-block">Month</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  >
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                    <span class="d-none d-md-block">Week</span>
                    <span class="d-md-none">W</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class=" chart-area">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class="">
                </div>
              </div>
            <div class="chartjs-size-monitor-shrink">
              <div class="">
              </div>
            </div>
          </div>
          <canvas id="chart-sales" width="748" height="275" style="" class="chart-canvas">
          </canvas>
        </div>
      </div>
      <!-- FIN Graphique 1 -->
      <!--DEBUT Graphique 2 -->
      <div class="row mt-2">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Sentiment</h6>
                  <h2 class="text-white mb-0">Ratio du sentiment</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-safes">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" >
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-safes" >
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" >
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class=" chart-area">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class="">
                  </div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class="">
                  </div>
                </div>
              </div>
              <canvas id="chart-safes" width="748" height="275" style="" class="chart-canvas">
              </canvas>
            </div>
          </div>
      <!-- fin  Graphique 2 -->
      <div class="row mt-1 ">
        <!--DEBUT Petit Graphique 1 -->
        <!--FIN Petit Graphique 1 -->
        <!--DEBUT Petit Graphique 3 -->
        <!--FIN Petit Graphique 3 -->
    </div>
  <!--Fin row-->
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Articles</h3>
            </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre Article</th>
                <th scope="col">Article</th>
                <th scope="col">Date</th>
                <th scope="col">Sentiment</th>
              </tr>
            </thead>
            <tbody *ngFor="let art of listeArticle | paginate : {itemsPerPage: 5 , currentPage: page ,
            totalItems: totalRecords} ">
            <tr>
              <th  style="white-space: normal;" (click)="majresume(art.url,art.summary)">
                 {{ title( art.url ) }}
              </th>
              <td>
                <!--
                <a target="_blank" href={{art.url}} mat-menu-item>
                  article
                </a> -->
                <!-- button article -->
                <ng-template #contentArticle let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h5 id="modal-basic-article" >Article</h5>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <h2 class="modal-title" id="modal-basic-title-article" style="padding-left: 1.25rem; padding-top: -1rem;padding-bottom: 1.25rem"> {{ title( art.url ) }}</h2>
                  <div class="modal-body">
                    <p>{{art.article_text}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">fermer</button>
                  </div>
                </ng-template>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openScrollableContent(contentArticle)">Article</button>
                <!-- fin boutton resume-->
                <!-- button resume -->
                <ng-template #contentResume let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-basic-resume">Resume</h5>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <h2 class="modal-title" id="modal-basic-title" style="padding-left: 1.25rem; padding-top: -1rem;padding-bottom: 1.25rem"> {{ title( art.url ) }}</h2>
                  <div class="modal-body">
                    <p>{{art.summary}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">fermer</button>
                  </div>
                </ng-template>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openScrollableContent(contentResume)">Résumé</button>
                <!-- fin boutton resume-->
                <!--
                <div class="example-button-row">
                  <button target="_blank" onclick="window.open( 'https://www.google.com/' ,'_blank' );">Article</button>
                </div>
                -->
              </td>


              <td>
                {{art.crawl_date.substr(0, 17 ) }}
              </td>

              <td>
                <div class="d-flex align-items-center">
                  <span class="mr-2">{{articleSentiment(art.number_negative,art.number_positive)}} % </span>
                  <div>
                    <div class="progress">
                      <div *ngIf="aticleEntrepriseSentiment(art.number_negative,art.number_positive)==1" class="progress-bar bg-success" role="progressbar" aria-valuenow="{{articleSentiment(art.number_negative,art.number_positive)}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{articleSentiment(art.number_negative,art.number_positive)}}%;"></div>
                      <div *ngIf="aticleEntrepriseSentiment(art.number_negative,art.number_positive)==2" class="progress-bar bg-info" role="progressbar" aria-valuenow="{{articleSentiment(art.number_negative,art.number_positive)}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{articleSentiment(art.number_negative,art.number_positive)}}%;"></div>
                      <div *ngIf="aticleEntrepriseSentiment(art.number_negative,art.number_positive)==3" class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{articleSentiment(art.number_negative,art.number_positive)}}" aria-valuemin="0" aria-valuemax="100"  style=" width:{{articleSentiment(art.number_negative,art.number_positive)}}%;"></div>
                      <div *ngIf="aticleEntrepriseSentiment(art.number_negative,art.number_positive)==4" class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{articleSentiment(art.number_negative,art.number_positive)}}" aria-valuemin="0" aria-valuemax="100" style=" width:{{articleSentiment(art.number_negative,art.number_positive)}}%;"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            <!-- FIN ng for-->
          </table>
        </div>
        <!-- Pagination -->
        <div class="card-footer py-4">
          <pagination-controls class="" (pageChange)="page = $event"></pagination-controls>
        </div>
        <!--
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        -->
      </div>
    </div>

    </div>
  </div>
</div>
